<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @book.book_name%>
      </p>

      <% if @mentalmaps.exists? %>
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">メンタルマップ</p>
            <p class="detail__message">
              <ul class="comments_lists">
                <% @mentalmaps.each do |mentalmap| %>
                  <li class="comments_list">
                    <p>なぜ、この本を読もうと思ったのか?</p>
                    <%= mentalmap.why_text %>
                  </li>
                  <li class="comments_list">
                    <p>この本から何を得たいか?</p>
                    <%= mentalmap.what_text %>
                  </li>
                  <li class="comments_list">
                    <p>読んだ後、どういう状態になりたいと願っているのか?</p>
                    <%= mentalmap.how_text %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>      
      <% else %>
        <%= link_to "メンタルマップを作成する", new_book_mentalmaps_path(params[:id]), class: :nav__btn %>
      <% end %>

      <% if @curiosity_gaps.exists? %>
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">キュリオシティ・ギャップ</p>
            <p class="detail__message">
              <ul class="comments_lists">
                <% @curiosity_gaps.each do |curiosity_gap| %>
                  <li class="comments_list">
                    <p>自分が既に知っている知識</p>
                    <%= curiosity_gap.already_text %>
                  </li>
                  <li class="comments_list">
                    <p>目次をスキミングをし興味関心が刺激された見出し 興味が湧いた知らないこと</p>
                    <%= curiosity_gap.unknown_text %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>      
      <% else %>
        <%= link_to "キュリオシティ・ギャップを作成する", new_book_curiosity_gaps_path(params[:id]), class: :nav__btn %>
      <% end %>

        <% if @resumes.exists? %>
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">目次チェック</p>
            <p class="detail__message">
              <ul class="comments_lists">
                <% @resumes.each do |resume| %>
                  <li class="comments_list">
                    <p>気になった「章タイトル」や「見出し」は?</p>
                    <%= resume.resume_chapter %>
                  </li>
                  <li class="comments_list">
                    <p>気になった理由は?</p>
                    <%= resume.resume_motive_text %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
      <% else %>
        <%= link_to "目次チェック", new_book_resume_path(params[:id]), class: :nav__btn %>
      <% end %>

        <% if @visualizings.exists? %>
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">視覚化読み</p>
            <p class="detail__message">
              <ul class="comments_lists">
                <% @visualizings.each do |visualizing| %>
                  <li class="comments_list">
                    <p>前提</p>
                    <%= visualizing.premise %>
                  </li>
                  <li class="comments_list">
                    <p>解説</p>
                    <%= visualizing.explanation %>
                  </li>
                  <li class="comments_list">
                    <p>解説</p>
                    <%= visualizing.conclusion %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
      <% else %>
        <%= link_to "視覚化読み", new_book_visualizing_path(params[:id]), class: :nav__btn %>
      <% end %>

        <% if @summarizings.exists? %>
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">要するに読み</p>
            <p class="detail__message">
              <ul class="comments_lists">
                <% @summarizings.each do |summarizing| %>
                  <li class="comments_list">
                    <%= summarizing.summarizing_chapter %>は要するに、<%= summarizing.summarizing_text %>
                  </li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>
      <% else %>
        <%= link_to "要するに読み", new_book_summarizing_path(params[:id]), class: :nav__btn %>
      <% end %>

    </div>
  </div>
</main>
