<%= form_with url: book_questionings_url, local: true do |f|%>
  <p>ハジェテペ大学の質問リストを念頭において、著者にツッコミを入れながら読んでいきましょう。<br />
      難しい場合は3つ、4つに絞って取り組みましょう。</p>
  <div class="field">
    <%= f.label :answer1 , "この本がテーマとしている問題提起は何か？どんな問題を提示し、どんな解決方法を提案しているのか？" %><br />
    <%= f.text_area :answer1 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer2 , "この本はどのように始まり、どのように終わったか？" %><br />
    <%= f.text_area :answer2 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer3 , "あなたはこの本から何を学びたいか？" %><br />
    <%= f.text_area :answer3 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer4 , "この本が同じジャンルの他の本と似ている部分、違う部分はどこだろう？" %><br />
    <%= f.text_area :answer4 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer5 , "この本はなぜ重要なのか？" %><br />
    <%= f.text_area :answer5 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer6 , "この本のタイトルは内容と合っているだろうか？あなたが本のタイトルを付け直しとしたら？" %><br />
    <%= f.text_area :answer6 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer7 , "この本のキーポイントやコンセプトは何だろう？" %><br />
    <%= f.text_area :answer7 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer8 , "本の書き出しをチェックして、作者は読者を引き込むためにどんなトピックを展開しているか？" %><br />
    <%= f.text_area :answer8 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer9 , "本で扱われているビジュアル要素(チャート・地図・ラベル・グラフ・写真・図解)から何を学んだか？それらの要素からどんな種類の情報を得ることができたか？" %><br />
    <%= f.text_area :answer9 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer10 , "著者は読者に対してどう考えてほしいと思っているのだろうか？" %><br />
    <%= f.text_area :answer10 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer11 , "人に勧めるとき、どの章のどんな情報を一番に取り上げるか？" %><br />
    <%= f.text_area :answer11 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer12 , "作者はこの本をおもしろくするためにどのような工夫をしているだろうか？" %><br />
    <%= f.text_area :answer12 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer13 , "作者の主張のどこに賛成できるか？その理由は何か？" %><br />
    <%= f.text_area :answer13 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer14 , "テーマを説明するために作者がどのような事例を出しているのか？興味深かった例は？" %><br />
    <%= f.text_area :answer14 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer15 , "この本を読んでいるときにどんな感覚になったか？" %><br />
    <%= f.text_area :answer15 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer16 , "この本で最も重要な一文はどれか？その理由は何か？" %><br />
    <%= f.text_area :answer16 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="field">
    <%= f.label :answer17 , "本の内容を振り返って、自分にとって一番刺さった箇所はどこか？" %><br />
    <%= f.text_area :answer17 , id:"prototype_title" ,:size=>"50x4"%>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>