<%= form_with url: book_questionigs_url, local: true do |f|%>
  <p>ハジェテペ大学の質問リストを念頭において、著者にツッコミを入れながら読んでいきましょう。</p>
  <div class="field">
    <%= f.label :answer1 , "" %><br />
    <%= f.text_field :answer1 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer2 , "" %><br />
    <%= f.text_field :answer2 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer3 , "" %><br />
    <%= f.text_field :answer3 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer4 , "" %><br />
    <%= f.text_field :answer4 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer5 , "" %><br />
    <%= f.text_field :answer5 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer6 , "" %><br />
    <%= f.text_field :answer6 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer7 , "" %><br />
    <%= f.text_field :answer7 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer8 , "" %><br />
    <%= f.text_field :answer8 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer9 , "" %><br />
    <%= f.text_field :answer9 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer10 , "" %><br />
    <%= f.text_field :answer10 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer11 , "" %><br />
    <%= f.text_field :answer11 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer12 , "" %><br />
    <%= f.text_field :answer12 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer13 , "" %><br />
    <%= f.text_field :answer13 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer14 , "" %><br />
    <%= f.text_field :answer14 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer15 , "" %><br />
    <%= f.text_field :answer15 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer15 , "" %><br />
    <%= f.text_field :answer15 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer16 , "" %><br />
    <%= f.text_field :answer16 , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :answer17 , "" %><br />
    <%= f.text_field :answer17 , id:"prototype_title" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>