<%= form_with url: book_resumes_url, local: true do |f|%>
  <p>目次から興味を引く「章タイトル」や「見出し」を探してみましょう。</p>
  <div class="field">
    <%= f.label :resume_chapter , "気になった「章タイトル」や「見出し」は?" %><br />
    <%= f.text_field :resume_chapter , id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :resume_motive_text, "気になった理由は?" %><br />
    <%= f.text_field :resume_motive_text, id:"prototype_title" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>